:root {
  --clr-light: #F0F3FB;
  --clr-white: #FFFFFF;
  --clr-sucess: #22C55E;
  --clr-info: #3B82F6;
  --clr-warning: #F97316;
  --clr-error: #EF4444;
}

body {
  background-color: var(--clr-light);
  font-family: "Poppins", serif;
  display: flex;
  justify-content: center;
}

.notifications-container {
  padding: 50px 80px;
  margin-top: 150px;
  background-color: var(--clr-white);
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.notifications-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: var(--clr-white);
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 5px;
}

p {
  padding-left: 5px;
  padding-right: 10px;
}

.btn-success h2 {
  border: 2px solid var(--clr-sucess);
  background-color: var(--clr-sucess);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 54px;
}

.btn-success h2:hover {
  cursor: pointer;
  background-color: #4bc979;
  border-color: #4bc979;
}

.btn-success h2:active {
  background-color: var(--clr-sucess);
  border-color: #22C55E;
}

.btn-info h2 {
  border: 2px solid var(--clr-info);
  background-color: var(--clr-info);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 76px;
}

.btn-info h2:hover {
  cursor: pointer;
  background-color: #5390f3;
  border-color: #5390f3;
}

.btn-info h2:active {
  border: 2px solid var(--clr-info);
  background-color: var(--clr-info);
}

.btn-warning h2 {
  border: 2px solid var(--clr-warning);
  background-color: var(--clr-warning);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 52px;
}

.btn-warning h2:hover {
  background-color: #f78838;
  border-color: #f78838;
  cursor: pointer;
}

.btn-warning h2:active {
  order: 2px solid var(--clr-warning);
  background-color: var(--clr-warning);
}

.btn-error h2 {
  border: 2px solid var(--clr-error);
  background-color: var(--clr-error);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 5px 72px;
}

.btn-error h2:hover {
  background-color: #f15a5a;
  border-color: #f15a5a;
  cursor: pointer;
}

.btn-error h2:active {
  border: 2px solid var(--clr-error);
  background-color: var(--clr-error);
}

.notification-bars {
  display: flex;
  flex-direction: column;
}

.success-notification-bar {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  margin-bottom: 20px;
  border-radius: 5px;
  border-bottom: 3px solid var(--clr-sucess);
}

.success-icon {
  color: var(--clr-sucess);
}

.info-notification-bar {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  margin-bottom: 20px;
  border-radius: 5px;
  border-bottom: 3px solid var(--clr-info);
}

.info-icon {
  color: var(--clr-info);
}

.warning-notification-bar {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  margin-bottom: 20px;
  border-radius: 5px;
  border-bottom: 3px solid var(--clr-warning);
}

.warning-icon {
  color: var(--clr-warning);
}

.error-notification-bar {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  margin-bottom: 20px;
  border-radius: 5px;
  border-bottom: 3px solid var(--clr-error);
}

.error-icon {
  color: var(--clr-error);
}

.quit-btn {
  color: #AEB0D6;
}